@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

/* root selector */

:root {
    --primary-text-color: #525252;
    --secondary-text-color: #737373;
}

/* body */

body {
    font-family: 'Source Code Pro', monospace;
    background-color: #FAFAF9;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
}

/* headings */

h1 {
    color: var(--primary-text-color);
    text-align: center;
}

/* horizontal line */

hr {
    margin: 2rem 0rem;
}

/* containers */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-idx {
    max-width: 800px;
    margin: auto;
}

.container-idx-box {
    border: solid;
    border-color: var(--secondary-text-color);
    border-radius: 2rem;
    border-width: 2px;
}

/* lists */

.ul-remove-decor {
    list-style: none;
}

.ul-spacing {
    margin: 1rem;
}

/* links */

a:link {
    color: var(--primary-text-color);
    text-decoration: none;
    
}

a:visited {
    color: tomato;
    text-decoration: underline;
}

a:hover, a:active{
    /* text-decoration: underline; */
    color: var(--secondary-text-color);
    /* font-size: larger; */
    border: solid;
    border-width: 1px;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
}

/* tables */

.table-idx {
    border-collapse: collapse;
    width: 100%;
}

.table-idx th {
    color: var(--primary-text-color);
    background-color: gainsboro;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--primary-text-color);
    padding: 1.5rem;
    text-align: center;
    text-decoration: underline;
    font-size: large;
    
}

.table-idx td {
    color: var(--secondary-text-color);
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--primary-text-color);
    padding: 1rem;
}

.table-idx tr:nth-child(even) {
    background-color: #F5F5F4;
}

.table-idx tr:hover {
    background-color:#E7E5E4;
}

.table-idx td:nth-child(1) {
    text-align: center;
}


